In [1]:
for vr in range(1,5):
    print("*"*vr)

*
**
***
****

In [10]:
j=1
for i in range(5,1,-1):
        print(" "*i+" *"*j)
        j += 1
for i in range(1,6):
        print(" "*i+" *"*j)
        j -= 1

      *
     * *
    * * *
   * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [12]:
i=1
while i < 5:
    print("*"*i)
    i +=1

*
**
***
****

In [15]:
i=5
j=1
while i>0:
         print(" "*i+" *"*j)
         i -=1
         j +=1
while j>0:
         print(" "*i+" *"*j)
         i +=1
         j -=1

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [19]:
i=1
while i < 5:
    print("*"*i)
    i +=1
i -= 1
while i>0:
    i -=1
    print("*"*i)

*
**
***
****
***
**
*

In [38]:
i=int(input("give number of star reqirein first line"))
i=5
j=0
while i>0:        
    print("*"*i+" "*j+"*"*i)
    i -=1
    j +=2
i +=1
j -=2
while i<6:        
    print("*"*i+" "*j+"*"*i)
    i +=1
    j -=2

**********
****  ****
***    ***
**      **
*        *
*        *
**      **
***    ***
****  ****
**********

In [40]:
ord('Z')

90

In [41]:
chr(90)

'Z'

In [47]:
j=1
for i in range(65,90):
    print(" "*(90-i)+f'{chr(i)} '*j)
    j+=1

                         A
                        B B
                       C C C
                      D D D D
                     E E E E E
                    F F F F F F
                   G G G G G G G
                  H H H H H H H H
                 I I I I I I I I I
                J J J J J J J J J J
               K K K K K K K K K K K
              L L L L L L L L L L L L
             M M M M M M M M M M M M M
            N N N N N N N N N N N N N N
           O O O O O O O O O O O O O O O
          P P P P P P P P P P P P P P P P
         Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q
        R R R R R R R R R R R R R R R R R R
       S S S S S S S S S S S S S S S S S S S
      T T T T T T T T T T T T T T T T T T T T
     U U U U U U U U U U U U U U U U U U U U U
    V V V V V V V V V V V V V V V V V V V V V V
   W W W W W W W W W W W W W W W W W W W W W W W
  X X X X X X X X X X X X X X X X X X X X X X X X
 Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y

In [50]:
num=int(input("give number to make table"))
for i in range(1,11):
    print(f" {num} * {i} = {num*i}")

give number to make table5
 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50

In [56]:
num=int(input("enter number to find factorial:"))
fact=1
while num>1:
    fact=fact*num
    num -=1
else:
    print(fact)

enter number to find factorial:6
720

In [63]:
i=1
j=1
num=int(input("enter a count of number for fibbonaci"))
if(num > 2):
    print(f"{i}\n{j}",)
    while(num>2):
        temp=i+j
        print(f"{temp}")
        i = j
        j = temp
        num -=1
else:
    print("count should be more then 2")

enter a count of number for fibbonaci9
1
1
2
3
5
8
13
21
34

In [65]:
for num in range (1500,2701):
    if(num % 5 == 0 and num % 7 == 0):
        print(num)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [10]:
prime=[]
for var in range(3,100):
    count=0
    for num in range(2,var+1):
        if(var % num ==0):
            count+=1
    if(count < 2):
        prime.append(var)
print(prime)

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]